body
{
  margin: 0;
  font-size: 6vw;
  font-family: sans-serif;
  width: 100vw;
}

a
{
  text-decoration: none;
  font-style: oblique;
  color: #370;
}

header
{
  background-color: #555;
  width: 100%;
}

header a
{
  display: block;
  height: 30vw;
  width: 30vw;
  margin: auto;
}

#logo
{
  background-image: url(../images/logo.png);
  background-repeat: no-repeat;
  background-size:contain;
  height: inherit;
}

.title
{
  width: 100vw;
  font-size: 10vw;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

nav
{
  display: block;
  width: 100vw;
  background-color: #ce5;
}

nav button
{
  display: block;
  width: inherit;
  background-color: inherit;
  border: none;
  font-size: inherit;
}

#mainNavigation
{
  display: none;
  flex-wrap: nowrap;
  flex-direction: column;
}

#mainNavigation a
{
  padding: 5vw 0;
  margin: auto;
  font-size: 5vw;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  color: #333;
  font-family: sans-serif;
  text-align: center;
  transition: 0.3s;
}

#mainNavigation a:hover
{
  background-color: #df6;
  font-size: 6vw;
}

#mainNavigation .active
{
  background: #fff;
}

h1
{
  text-align: center;
  font-size: 7vw;
  font-weight: bold;
  background-color: #fff;
  margin: 0;
  padding: 2%;
}

.slideshow
{
  height: 50vw;
  background-image: url(../images/leaves0.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  padding-bottom: 10vw;
  margin-bottom: 5vw;
  transition: background 0.3s;
}

.slideshow p
{
  padding: 1vw;
  margin: auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 7vw;
  color: #fff;
}

#tagline
{
  margin: 0;
  padding-top: 4vw;
  padding-bottom: 8vw;
  background-image: linear-gradient(to bottom, rgba(0, 20, 10, 1), rgba(0, 20, 10, 0));
  font-style: italic;
}

#shoplink
{
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
  padding-left: 4%;
  padding-right: 4%;
  border-radius: 50vw;
  transition: 0.3s;
}

#shoplink a
{
  margin-top: auto;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

#shoplink:hover
{
  background-color: rgba(50, 180, 30, 1);
  padding: 4% 8% 4% 8%;
  font-size: 6vw;
}

img
{
  width: 100px;
  padding: 1%;
}

.leaves
{
  width: 80vw;
  margin: auto;
  margin-top: 10vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.leaf
{
  margin: 5vw auto 5vw auto;
  display: flex;
  flex-direction: column;
  border: 0.5vw solid #ce5;
  border-radius: 2vw;
  background-color: #fff;

}

.leaf *
{
  padding: 2%;
}

.leaf img
{
  width: 90%;
  margin: auto;
  font-size: inherit;
  font-family: inherit;
}

.leaf a
{
  background-color: #ce5;
}

footer
{
  text-align: center;
  font-size: inherit;
  font-family: inherit;
  color: #333;

}

.footer-data, .credits
{
  width: 90%;
  padding: 5%;
  background-color: #fff;
}

.footer-data dt
{
  padding-top: 5%;
}

.footer-data dd
{
  padding-bottom: 5%;
  border-bottom: 0.5vw solid #ce5;
  margin: auto;
}
